.header{
    background-image: url(./imgs/canada0.jpg);
    background-size: cover;
    background-position: left;
    height: 180px;
}
/* instruction */
#instr {
    margin: 10px auto;
}
#testNote{
    border: gainsboro solid 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#testNote h4{
    margin-bottom: 0px;
    text-align: center;
    background-color: gainsboro;
}

.selected{
    background: linear-gradient(to right, lightsteelblue, white )  !important;
}
body{
    background-color:lightsteelblue;
}

h3{
    text-align: center;
}

footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
}

#startbutton{
    text-align: center;
}

form{
    margin-bottom: 14px;
}

/* result component */
h3.ResultQues {
    margin-top: 14px;
}
#reloadbtn{
    margin-top: 14px;
}